// TODO load normalize css first
// @import "../../../node_modules/normalize.css/normalize.css";
@import "../../../common/styles/variables";

// Base styles
// ==========================================================================

html {
  height: 100%;
  font-family: $font-family-base;
  font-size: 1em;  // ~16px;
  font-weight: 100;
  line-height: 1.375;  // ~22px
  color: $primary-black;
}

body,
.dme,
.wrapper {
  min-height: 100vh;
}

.wrapper {
  position: relative;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

p {
  text-align: left;
}

// Remove text-shadow in selection highlight:
// https://twitter.com/miketaylr/status/12228805301
//
// These selection rule sets have to be separate.
// Customize the background color to match your design.

// ::-moz-selection {
//   text-shadow: none;
//   background: $primary-blue;
// }

::selection {
  text-shadow: none;
  background: $primary-blue;
}

// A better looking default horizontal rule

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1em 0;
  border: none;
  border-top: 1px solid $border-color;
}


// Remove the gap between audio, canvas, iframes,
// images, videos and the bottom of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440


audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


// Remove default fieldset styles.


fieldset {
  padding: 0;
  margin: 0;
  border: none;
}


// Allow only vertical resizing of textareas.


textarea {
  resize: vertical;
}


// Browser upgrade prompt
// ==========================================================================

.browserupgrade {
  padding: .2em 0;
  margin: .2em 0;
  color: $primary-black;
  background: $border-color;
}


// Print styles
// Inlined to avoid the additional HTTP request:
// http://www.phpied.com/delay-loading-your-print-css/
// ==========================================================================

@media print {
  *,
  *:before,
  *:after {
    color: $print-black; // Black prints faster: http://www.sanbeiji.com/archives/953
    text-shadow: none;
    background: transparent;
    box-shadow: none;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }


// Don't show links that are fragment identifiers,
// or use the `javascript:` pseudo protocol

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid $print-gray;

    page-break-inside: avoid;
  }

// Printing Tables:
// http://css-discuss.incutio.com/wiki/Printing_Tables

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

// Clears floats

.clear-float {
  clear: both;
}
