/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

* {
  margin: 0;
  line-height: 1.2;
}

html {
  display: table;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  color: #888;
  text-align: center;
}

body {
  display: table-cell;
  margin: 2em auto;
  vertical-align: middle;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  color: #555;
}

p {
  margin: 0 auto;
}

@media only screen and (max-width: 280px) {
  body, p {
    width: 95%;
  }

  h1 {
    margin: 0 0 .3em;
    font-size: 1.5em;
  }
}
